.card {
    width: 450px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 15px;
    color: #fff;
    background-color: rgb(8, 63, 184);
    padding: 25px;
}

.bank {
    align-self: flex-end;
    font-size: 50px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-bottom: 60px;
}

.number {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: monospace;
    align-self: center;
}

.exp-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.lef {
    font-weight: 100;
    font-size: 15px;
}

.ryt {
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 5px;
}

.person {
    font-size: 30px;
    font-family: courier;
}