.err-box {
    width: 650px;
    height: 70px;
    border: 1.5px solid rgb(243, 165, 165);
    border-radius: 7px;
    color: red;
    padding: 15px;
    font-size: 30px;
    background-color: rgb(247, 211, 211);
    display: flex;
    font-family: sans-serif;
    align-items: center;
}