.board {
    display: flex;
    flex-flow: row wrap;
    width: 850px;
    margin: 0 auto;
    font-family: sans-serif;
}

.card {
    width: 250px;
    padding: 10px;
}

.caption {
    font-weight: bold;
}

.name {
    font-size: 13.5px;
    color: #928d8d;
    font-weight: bold;
}