.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 850px;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #9b9494;
}

.card {
    width: 225px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.caption {
    font-weight: bold;
}

.name {
    font-size: 13.5px;
    color: #928d8d;
    font-weight: bold;
}

.cap-img {
    height: 150px;
    background-color: orchid;
}

.pin {
    background-color: #928d8d;
    color: #fff;
    width: fit-content;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    bottom: 26px;
    left: 2px;
}