.dlg {
    width: 800px;
    height: 260px;
    border: 2px solid gray;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
}

.bdy {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 50px;
    font-size: 20px;
    padding: 20px 0 0 20px;
}

.foot {
    align-self: flex-end;
    font-size: 20px;
    width: 90px;
    height: 48px;
    border: 1.5px solid gray;
    border-radius: 5px;
    margin: 0px 30px 9px 0;
}