.dlg {
    width: 550px;
    height: 250px;
    border: 2px solid gray;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-weight: bold;
    font-size: 25px;
}