.dlg {
    width: 800px;
    height: 240px;
    border: 2px solid gray;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-weight: bold;
    font-size: 25px;
    padding: 9px 20px 9px 20px;
}

.bdy {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 50px;
    font-size: 20px;
    padding: 20px 0 0 20px;
}

.foot {
    align-self: flex-end;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 3px 30px 3px 0;
}