.tweets {
    width: 570px;
    margin: 0 auto;
    background-color: #000;
}

.tweet {
    width: 564px;
    min-height: 68px;
    display: flex;
    border-top: 1px solid #ccc;
    font-family: sans-serif;
    margin: 0 auto;
    color: aqua;
    line-height: 18px;
    padding: 10px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #fff;
}