.file-list {
    font-family: sans-serif;
    width: 980px;
    color: #333;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: 0;
}

.item {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 5px;
    font-size: 15px;
    justify-content: space-between;
}

.left {
    min-width: 95px;
}

.icon {
    padding-right: 4px;
}

.fa-folder, .name {
    color: #508fca;
}

.commit-msg {
    padding-left: 10px;
    min-width: 420px;
    overflow: hidden;
}

.time {
    padding-left: 10px;
    min-width: 90px;
}