.file-list {
    font-family: sans-serif;
    width: 980px;
    color: #333;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: 0;
}

.item {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 5px;
    font-size: 15px;
}

.icon {
    padding-right: 3px;
}

.fa-folder, .name {
    color: #508fca;
}