.email {
    width: 1050px;
    min-height: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.end {
    width: 900px;
}

.top {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
}

.message {
    color: gray;
    font-size: 13.5px;
}