.card {
    min-height: 60px;
    width: 400px;
    background-color: #0000ff;
    padding: 3px;
}

.inner {
    background-color: #ccc;
    border-radius: 2px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 25px;
}

.item {
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
}