.poster {
    width: 600px;
    min-height: 400px;
    border: 2px solid rgb(7, 105, 233);
    background-color: #000;
    color: #fff;
    text-align: center;
}

.image {
    border: 2px solid rgb(7, 105, 233);
}