.poster {
    width: 600px;
    min-height: 400px;
    border: 2px solid rgb(7, 105, 233);
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    border: 2px solid rgb(7, 105, 233);
}

.title {
    font-size: 42px;
    color: rgb(7, 105, 233);
    font-weight: 600;
    display: flex;
}

.first, .last {
    font-size: 50px;
}

.text {
    font-family: sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 10;
}